body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    color: white;
}

h1 {
    margin: 0;
    padding: 10px;
    background-color: black;
    font-size: 15px;
    text-align: center;
}

h2{
    margin: 0;
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.centredh2 {
    margin: 0;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

p{
    margin: 0;
    padding: 10px;
    padding-top: 0;
    font-size: 12px;
    text-align: left;
}

#top-row, #bottom-row {
    display: flex;
    padding: 4px;
    gap: 7px;
}

.card {
    border-radius: 15px;
    border: 1px solid #b0b0b0;
    padding: 10px;
    margin: 0;
}

#session-confirmation {
    color: red;
    padding: 3px;
    /* Red if live stream not on, Green if live strea is active */
}

#top-row {
    height: 85%; /* Top row takes 50% of the screen height */
}

#bottom-row {
    height: 15%; /* Bottom row takes the remaining 50% */
}

#live-feed {
    flex: 73; /* 75% width for live-feed */
    background-color: #111;
    align-items: center;
}

#controls {
    flex: 27; /* 25% width for controls */
    background-color: #222;
    align-items: center;
}

#send-audio, #record-audio {
    flex: 1; /* 50% each for send-audio and record-audio */
    background-color: #111;
    text-align: center;
    padding: 10px;
}

#send-audio {
    background-color: red;
}

#control-buttons {
    display: flex;
    gap: 10px;
}